body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#navbar{
    overflow:hidden;
    background-color:#0D0D0D;
    padding:50px 10px;
    transition:0.5s;
    position:fixed;
    width:100%;
    top:0;
    z-index: 99;
    left: 0;
    }
    #navbar a{
    float:left;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration:none;
    font-size: 18px;
    line-height: 25px;
    border-radius:4px; 
    }
    #navbar #logo{
    font-size: 35px;
    font-weight: bold;
    transition:0.4s;	
    }
    #navbar a:hover{
    background-color: #ddd;	
    color: black;	
    }
    #navbar a.active{
    background-color: dodgerblue;
    color: white;		
    }
    #navbar-right {
    float: right;	
    }
    @media screen and (max-width: 580px) {
     #navbar{
         padding: 20px 10px !important;
     }
    #navbar a{
        float: none;
        display: block;
        text-align: left;
    }
    #navbar-right{
        float: none;
    }
    
        
        
    }
    /* .logo{
        height:auto;
        width: 120px;
        float: left;
    } */
    #first_content{
        margin-top: 400px;
        text-align: center;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
   .text1{
        color: darkslategrey;
        font-weight: 200;
        margin-top: 20px;
    }
    .text2{
        color: darkslategrey;
        font-weight: 200;
    }
    .text3,.subject1{
        color: deepskyblue;
        font-weight: 200;
        
    }
    .img1{
        margin-top: 20px;
        width: 100%;
        height: auto;
        align-items: center;
    }
    .img1 img{
        width: 100%;
        height: auto;
    }
    #second_content{
        color:darkslategrey ;
    }
 p{
        text-align: center;
        margin: 40px;
    }
   .img2{
    text-align: center;
    width:100%;
    
         
   } 
    h2{
        text-align: center;
    }
    
    
    
    
    